$background: #e3e3e3;
$black: #1d1d1d;
$white: #e3e3e3;
$gray: #747474;
$accent: #e08c8c;
$accentSecondary: #8ce08c;

$xxs: 4px;
$xs: 8px;
$s: 16px;
$sm: 24px;
$m: 32px;
$l: 40px;
$xl: 48px;
$xxl: 64px;
$g: 96px;

$fontXS: 12px;
$fontS: 14px;
$fontM: 16px;
$fontML: 20px;
$fontL: 24px;
$fontXL: 36px;
$fontXXL: 48px;

$mobileBreakpoint: 1100px;
$modalFullscreenBreakpoint: 650px;
$superSmallDevice: 400px;

$modalWidthDesktop: 600px;
$modalHeightDesktop: 600px;
$burgerMenuHeight: 50px;
$footerHeight: 40px;
$desktopContentMaxWidth: 1000px;
$workCircleDiameter: 150px;
$workCircleDiameterMobile: 100px;
